
<%- include('partials/headerT')%>
<%- include('partials/headerB')%>
    <nav>
      
      <% for(const game of data) { %>        
        <a href="/game/<%= game.name %>"><%= game.name %></a>
        <% } %>
      
    </nav>
  </header>

  <main>
    <h3>Index</h3>
  </main>

  <footer>
    
  </footer>
  <%- include('partials/footer')%>